Source: pygit2
Section: python
Priority: extra
Maintainer: Dennis Kaarsemaker <dennis@kaarsemaker.net>
Build-Depends: debhelper (>= 7), python-all-dev (>= 2.6), python-sphinx (>= 0.6), python3-all-dev (>= 3.2), libgit2-dev (>=0.20), libgit2-dev (<<0.21)
Standards-Version: 3.9.3
XS-Python-Version: >= 2.6
X-Python3-Version: >= 3.2

Package: python-pygit2
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-cffi
Description: Python bindings to libgit2
 libgit2 implements the core functionality of git, this package provides a
 python 2 interface to that library.

Package: python3-pygit2
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-cffi
Description: Python bindings to libgit2
 libgit2 implements the core functionality of git, this package provides a
 python 3 interface to that library.
